<footer class="footer has-background-info has-text-white">
  <div class="content">
    <div class="section">

    <%= image_tag("Logo.png", :alt => "peepee") %>
    </br>
    </br>

    <%= fa_icon "envelope" %>
    sample_email
    </br>
    </br>

    <%= fa_icon "facebook" %>
    sample_facebook
    </br>
    </br>

    <%= fa_icon "phone" %>
    sample_phone
    </br>
    </br>

    </div>    
  </div>
</footer>